body {
  background-color: rgb(152, 197, 206);
  min-height: 100vh;
}
p{ 
  font-family: "Monaco" ;
  color: blueviolet;
  font-size: 30px;
  text-shadow: 4px 4px 6px whitesmoke  ;
}
marquee {
  font-size: 70px;
color: rgb(73, 35, 5);}
marquee:hover {text-transform:uppercase ;}
marquee: active {text-transform:lowercase ;}
}
