body {
  background-color: rgb(152, 197, 206);
  min-height: 100vh;
}
p{ 
  font-family: "Monaco" ;
  color: blueviolet;
  font-size: 30px;
  text-shadow: 4px 4px 6px whitesmoke  ;
  box-shadow: 5px 5px 10px blueviolet;
}
marquee {
  font-size: 70px;
color: rgb(0, 27, 81);}
marquee:hover {text-transform:uppercase ;}
marquee: active {text-transform:lowercase ;}
}
